[submodule "ModuleWalkthrough"]
	path = ModuleWalkthrough
	url = https://github.com/asmagill/HS_ModuleWalkthrough.git
[submodule "wip/_undocumented"]
	path = _undocumented
	url = https://github.com/asmagill/hammerspoon_asm.undocumented.git
[submodule "wip/filelistmenu"]
	path = filelistmenu
	url = https://github.com/asmagill/hammerspoon_filelistmenu.git
[submodule "wip/serial"]
	path = serial
	url = https://github.com/asmagill/hammerspoon_serial.git
[submodule "axuielement"]
	path = axuielement
	url = ../hs._asm.axuielement
[submodule "text"]
	path = text
	url = https://github.com/asmagill/hs.text.git
[submodule "guitk"]
	path = guitk
	url = https://github.com/asmagill/hs._asm.guitk.git
